
@{
    ViewData["Title"] = "Retiro Exitoso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Retiro Exitoso</h1>
<button type="button" class="btn btn-danger" onclick="location.href='/Home'">Salir</button>
<button type="button" class="btn btn-dark" onclick="history.go(-1)">Atras</button>