<div>
    <table class="table_teclado">
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
        <tr>
            <td>4</td>
            <td>5</td>
            <td>6</td>
        </tr>
        <tr>
            <td>7</td>
            <td>8</td>
            <td>9</td>
        </tr>
        <tr>
            <td colspan="2">0</td>
            <td>Limpiar</td>
        </tr>
    </table>
    <button type="button" id="btn-exit" class="btn btn-danger" onclick="location.href='/Home'">Salir</button>
</div>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/css/virtual-key.css")">
<script src="~/js/TecladoVirtual.js"></script>