
@{
    ViewData["Title"] = "Tarjeta Bloqueada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Su tarjeta ha sido bloqueada</h1>
<h2>Comuniquese con el administrador para seguir operando.</h2>
<button type="button" class="btn btn-danger" onclick="location.href='/Home'">Salir</button>